@model WafaTailor.Models.SaleOrder

@{
    ViewBag.Title = "UpdateSaleOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateSaleOrder", "SaleOrder", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
        <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                        @*<div class="page-title">Customer Registration</div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Update Sale Order</header>
                            <span style="color:red;">@TempData["Order"]</span>
                            <a href="/SaleOrder/SaleOrderList" class="btn btn-primary pull-right mr-10 mb-1 mt-1"><i class="fa fa-arrow-left"></i> Back to List</a>
                        </div>
                        <div class="card-body" id="bar-parent">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Shop</label>
                                        @Html.TextBoxFor(m => m.ShopName, new { @class = "form-control", @placeholder = "Shop Name", @disabled= "disabled" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Customer</label>
                                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name", @onchange = "return changeCustomer();", @disabled = "disabled" })
                                      
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Mobile No</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile No", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "8", @Minlength = "8", @disabled = "disabled" })

                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormPassword">Bill No</label>
                                        @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control", @Placeholder = " BillNo", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">No Of Piece</label>
                                        @Html.TextBoxFor(m => m.TotalDeliveredPiece, new { @class = "form-control", @Placeholder = "No Of Piece" })

                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormPassword">Amount</label>
                                        @Html.TextBoxFor(m => m.NetAmount, new { @class = "form-control", @Placeholder = " Amount", @onkeypress = "return isNumberOrDecimal(event);" })
                                    </div>
                                </div>
                            </div>
                                <div class="form-group col-sm-4">
                                   @Html.HiddenFor(m => m.SaleOrderId)
                                    <input type="submit" class="btn btn-primary" id="Update" name="Update" value="Update">
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>




