@model WafaTailor.Models.Customer

@{
    ViewBag.Title = "CustomerRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CustomerRegistration", "Customer", FormMethod.Post, new { @Id = "form", @enctype = "multipart/Form-data" }))
{
     <!-- start page content -->
                        <div class="page-content-wrapper">
                            <div class="page-content">
                                <div class="page-bar">
                                    <div class="page-title-breadcrumb">
                                        <div class="pull-left">
                                            @* <div class="page-title">Customer Registration</div>*@
                                        </div>
                                        @*<ol class="breadcrumb page-breadcrumb pull-right">
                                            <li>
                                                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                                   href="/Home/Index">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                                            </li>
                                            <li>
                                                Registration &nbsp;<i class="fa fa-angle-right"></i>
                                            </li>
                                            <li class="active">Customer Registration</li>
                                        </ol>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card card-box">
                                            <div class="card-head">
                                                <header> Customer Registration</header>
                                                <span class="text-danger">
                                                    @TempData["Customer"]
                                                </span>
                                                <a href="/Customer/CustomerRegistrationList" class="btn btn-primary pull-right mr-10 mt-1 mb-1"><i class="fa fa-arrow-left"></i> Back to List</a>

                                            </div>
                                            <div class="card-body" id="bar-parent">
                                                <form>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormEmail">First Name <span style="color:red">*</span></label>
                                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = " First Name" })
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormEmail">Last Name</label>
                                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = " Last Name" })
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormPassword">Contact No <span style="color:red">*</span></label>
                                                            @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", @placeholder = "Contact Number", @onkeypress = "return isNumberKey(event);", @Maxlength = "10", @Minlength = "10" })
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormPassword">Email-Id</label>
                                                            @Html.TextBoxFor(m => m.Emailid, new { @class = "form-control", @placeholder = "Email-Id" })
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormPassword">Date Of Birth</label>
                                                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @readonly = "true",@Placeholder="Date of Birth" })
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="simpleFormPassword">Gender <span style="color:red">*</span></label>
                                                            @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                          {
                                            new SelectListItem() {Text = "Male",Value="M"},
                                            new SelectListItem() {Text = "Female",Value="F"}
                                            }, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <label for="simpleFormPassword">Address</label>
                                                            @Html.TextAreaFor(m => m.CustomerAddress, new { @class = "form-control", @placeholder = "Address" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        @Html.HiddenFor(m=>m.UserID)
                                                        @if (Model.UserID != null)
                                                        {
                                                            <input type="submit" class="btn btn-primary" name="update" value="Update">
                                                        }
                                                        else
                                                        {
                                                            <input type="submit" class="btn btn-primary" name="Save" value="Submit" onclick="return Validateform()">
                                                        }
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    $("#DOB").datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    })
</script>

<script>
    function Validateform() {
        $("#divload").css({ 'display': '' })
        $(".errortext").removeClass("errortext");

        if ($("#FirstName").val() == "") {
            $("#FirstName").addClass('errortext');
            $("#FirstName").focus();
            return false;
        }
        if ($("#ContactNo").val() == "") {
            $("#ContactNo").addClass('errortext');
            $("#ContactNo").focus();
            return false;
        }
        if ($("#Gender").val() == "") {
            $("#Gender").addClass('errortext');
            $("#Gender").focus();
            return false;
        }
        
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

