
@{
    ViewBag.Title = "CustomerConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- start page content -->
    <div class="page-content-wrapper mt-5">
        <div class="page-content">
            <div class="row">
                @*<div class="col-md-3"></div>*@
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 offset-md-3">
                    <div class="white-box border-gray mt-5 pb-4">
                        <div class="user-bg">
                            <div class="overlay-box">
                                <div class="user-content">
                                    <h2 class="text-uppercase font-600 text-white">Congratulations !!</h2>
                                    <a href="javascript:void(0)"><img alt="img" class="thumb-lg img-circle" style="width:25%;" src="~/Assets/Images/user.png"></a>
                                    <h5 class="text-white pt-2">Customer details has been saved successfully !</h5>
                                </div>
                            </div>
                        </div>
                        <div class="user-btm-box">
                            <div class="col-md-12  m-b-0 text-center">
                                <div class="stat-item">
                                    <p>@*User Name- @Session["Name"], <br />*@ Login Id- @Session["CustomerLoginId"]
                                     <br/>  Password- @Session["CustomerPassword"]</p>
                                    <a href="/Customer/CustomerRegistration" class="btn btn-circle btn-primary m-b-10">
                                       <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 <!-- start page content -->
@*<div class="page-content-wrapper mt-5">
    <div class="page-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="~/Assets/Images/trophy-1.gif" style="width:100%" />
                        <h2 class="text-uppercase font-600">Congratulations !!</h2>
                       <h4 class="font-600"><i>Customer Records Save Successfully!</i></h4>
                        <div class="account-info clearfix">
                            <div class="clearfix text-left">
                                <div class="col-md-12 account-info-text text-center">
                                    <ul class="list-inline">
                                        @*<li><span class="border-box">Name: @Session["Name"]</span></li>*
                                        <li><span class="border-box">Login ID: @Session["CustomerLoginId"]</span></li>
                                        <li><span class="border-box">Password: @Session["CustomerPassword"]</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <span class="pull-center">
                            <a href="/Customer/CustomerRegistration" class="btn btn-primary btn-sm" title="Back">Back</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>*@




