@model WafaTailor.Models.Employee

@{
    ViewBag.Title = "EmployeeExpenseList";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("EmployeeExpenseList", "Employee", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
   <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <header>Expense List</header>
                            <span class="text-danger">
                                @TempData["Expense"]
                            </span>
                            <a href="/Employee/EmployeeExpense" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back to Expense</a>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-re
                                   fresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label>Expense Type </label>
                                        @Html.DropDownListFor(m => m.Expensetype, new SelectList(ViewBag.ddlExpensetype, "Value", "Text"), new { @class = "form-control expensetype", @placeholder = "Expense Type", @style = "width:200px;" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> From Date</label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 mt-4">
                                    <div class="form-group">
                                        <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="btnSearch" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <table style="width: 100%" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Expense Name </th>
                                        <th>Other Expense</th>
                                        <th>Vendor</th>
                                        <th>Expense</th>
                                        <th>Expense Date</th>
                                        <th>Remark </th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstexpense != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.lstexpense)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.ExpenseName</td>
                                                    <td>@item.OtherExpenseName</td>
                                                    <td></td>
                                                    @*<td>@item.Vendor</td>*@
                                                    <td>@item.Expenses</td>
                                                    <td>@item.ExpenseDate</td>
                                                    <td>@item.Remark</td>
                                                    @*<td><a class="btn btn-danger btn-sm" onclick="DeleteExpense(@item.Pk_ExpenseId)">Delete</a></td>*@
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- end page container -->
}


<script>
    function DeleteExpense(Id) {
        var Confirmation = confirm('Are you sure you want to delete this expense details ?');
        if (Confirmation == true) {
            $.ajax({
                url: '/Expense/DeleteExpense',
                type: 'Post',
                dataType: 'json',
                data: { 'Id': Id },
                success: function (response) {
                    if (response.Result == "yes") {
                        window.location.href = '/Expense/ExpenseList';
                    }
                    else {
                        alert(response.Result);
                    }
                }
            });
        }
    }
</script>
<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script src="~/BrainStewWebsite/assets/js/jquery.min.js"></script>
<script>
    var f3 = flatpickr(document.getElementById('FromDate'),
        {
            dateFormat: "d/m/Y",
        });
    var f3 = flatpickr(document.getElementById('ToDate'),
        {
            dateFormat: "d/m/Y",
        });

</script>




