
@{
    ViewBag.Title = "EmployeeConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

@{
    ViewBag.Title = "CustomerConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start page content -->
    <div class="page-content-wrapper mt-5">
        <div class="page-content">
            <div class="row">
                @*<div class="col-md-3"></div>*@
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 offset-md-3">
                    <div class="white-box border-gray mt-5 pb-4">
                        <div class="user-bg">
                            <div class="overlay-box">
                                <div class="user-content">
                                    <h2 class="text-uppercase font-600 text-white">Congratulations !!</h2>
                                    <a href="javascript:void(0)"><img alt="img" class="thumb-lg img-circle" style="width:25%;" src="~/Assets/Images/user.png"></a>
                                    <h5 class="text-white pt-2">Customer details has been saved successfully !</h5>
                                </div>
                            </div>
                        </div>
                        <div class="user-btm-box">
                            <div class="col-md-12  m-b-0 text-center">
                                <div class="stat-item">
                                    <p>@*User Name- @Session["Name"], <br />*@ User Id- @Session["CustomerLoginId"] <br/>  Password- @Session["CustomerPassword"]</p>
                                    <a href="/Customer/CustomerRegistration" class="btn btn-circle btn-primary m-b-10">
                                       <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- start page content -->
<div class="page-content-wrapper mt-5">
    <div class="page-content">
        <div class="row">
           @* <div class="col-md-3"></div>*@
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5 pb-4">
                    <div class="text-center">
                        <h2 class="text-uppercase font-600">Congratulations !!</h2>
                        <img src="~/Assets/Images/user.png" class="pb-3" style="width:25%" />
                        <h4 class="font-600">Employee details has been saved successfully !</h4>
                        <p>@*User Name- ABCD, <br />*@ Login Id- @Session["EmployeeLoginId"] <br /> 
                         Password- @Session["EmployeePassword"]</p>
                        <a href="/Employee/EmployeeRegistration" class="btn btn-circle btn-primary m-b-10">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="section-body">
    <div class="card">
        <div class="card-header">
            @*<ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Registration Successfull</li>
<<<<<<< HEAD
                </ul>
            <span class="pull-right">
=======
                </ul>*@
            @*<span class="pull-right">
>>>>>>> 2fab24d57d716c132feee4c8882cdfecfacca47e
                <a href="/Employee/EmployeeRegistration" class="btn btn-primary btn-sm" title="Back">Back</a>
            </span>*@
            @*<p style="color: red">
                    @TempData["Shop"]
                </p>
        </div>

        <div class="card-body">
            <div class="wrapper-thanks">
                <div class="animated-gif">
                    <img src="~/Assets/Images/XwHw.gif" alt="" style="width: 100px;" />
                </div>
                <h2 class="big-green">Congratulations !!</h2>
                <div class="clearfix text-center">
                    <h3><i>Employee Registration Saved Successfully !</i></h3>
                    <div class="account-info clearfix">
                        <div class="clearfix text-left">
                            <div class="col-md-12 account-info-text text-center">
                                <ul class="list-inline">
                                    <li><span class="border-box">Name: @Session["EmployeeName"]</span></li>
                                    <li><span class="border-box">Login ID: @Session["EmployeeLoginId"]</span></li>
                                    <li><span class="border-box">Password: @Session["EmployeePassword"]</span></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="clearfix">
                        <h2 class="big-green">Thank You!</h2>
                    </div>
                    <span class="pull-center">
                        <a href="/Employee/EmployeeRegistration" class="btn btn-primary btn-sm" title="Back">Back</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>*@








