@model WafaTailor.Models.Expense

@{
    ViewBag.Title = "DailyExpenseReport";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("DailyExpenseReport", "Expense", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
   <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <header>Daily Report</header>
                            <span class="text-danger">
                                @TempData["Expense"]
                            </span>
                            @*<a href="/Expense/#" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back to Expense</a>*@
                            <div class="tools">
                                @*<a class="fa fa-repeat btn-color box-re
                                       fresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>*@
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @*<div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label>Shop Name</label>
                                        @Html.DropDownListFor(m => m.Fk_ShopId, new SelectList(ViewBag.ddlShop, "Value", "Text"), new { @class = "form-control", @placeholder = "Shop Name" })
                                    </div>
                                </div>*@

                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> From Date</label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY", @readonly="true" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label>Shop Name</label>
                                        @Html.DropDownListFor(m => m.Fk_ShopId, new SelectList(ViewBag.ddlShop, "Value", "Text"), new { @class = "form-control", @placeholder = "Shop Name" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 mt-4">
                                    <div class="form-group">
                                        <input class="btn btn-primary pull-left" type="submit" value="Search" id="btnSearch" name="btnSearch" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table style="width: 100%" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>EXPENSE DATE </th>
                                        <th>DELIVERY</th>
                                        <th>CRYSTAL</th>
                                        <th>WORKER</th>
                                        <th>MATERIAL </th>
                                        <th>OTHER</th>
                                        <th>PROFIT </th>
                                        <th>Shop Name </th>
                                    </tr>
                                </thead>
                                      <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstexpense != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstexpense)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>@item.ExpenseDate</td>
                                                            <td>@item.Delivery</td>
                                                            <td>@item.Crystal</td>
                                                            <td>@item.Worker</td>
                                                            <td>@item.Material</td>
                                                            <td>@item.Other</td>
                                                            <td>@item.Profit</td>
                                                            <td>@item.ShopName</td>
                                                        </tr>
                                                        i = i + 1;
                                                    }
                                                }
                                            }
                                   </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td> </td>
                                        <th>@ViewBag.Delivery</th>
                                        <th>@ViewBag.Crystal</th>
                                        <th>@ViewBag.Worker</th>
                                        <th>@ViewBag.Material </th>
                                        <th>@ViewBag.Other</th>
                                        <th>@ViewBag.Profit </th>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- end page container -->
}
<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script>
    var f3 = flatpickr(document.getElementById('FromDate'),
        {
            dateFormat: "d/m/Y",
        });
    var f3 = flatpickr(document.getElementById('ToDate'),
        {
            dateFormat: "d/m/Y",
        });
</script>
@*<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
    $('#FromDate').datepicker({
        format: 'dd/MM/yyyy',
        changeYear: true,
        changeMonth: true,
        maxDate: 0
    });
    $('#ToDate').datepicker({
        format: 'dd/mm/yyyy',
        changeYear: true,
        changeMonth: true,
        maxDate: 0
    });
</script>*@


