@model WafaTailor.Models.Expense

@{
    ViewBag.Title = "ExpenseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("ExpenseList", "Expense", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
   <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                    </div>
                    @*<ol class="breadcrumb page-breadcrumb pull-right">
                            <li>
                                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                   href="/Home/Index">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                Registration&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">Customer List</li>
                        </ol>*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <header>Expense List</header>
                            <span class="text-danger">
                                @TempData["Customer"]
                            </span>
                            <a href="/Expense/Expense" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back to Expense</a>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-re
                                   fresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label>Expense Type </label>
                                        @Html.DropDownListFor(m => m.Expensetype, new SelectList(ViewBag.ddlExpensetype, "Value", "Text"), new { @class = "form-control expensetype", @placeholder = "Expense Type", @style = "width:200px;" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> From Date</label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 mt-4">
                                    <div class="form-group">
                                        <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="btnSearch" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body table-responsive">

                            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                   style="width: 100%" id="example4">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Expense Name </th>
                                        <th>Other Expense Name</th>
                                        <th>Expense</th>
                                        <th>Remark </th>
                                        <th>Expense Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstexpense != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.lstexpense)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.ExpenseName</td>
                                                    <td>@item.OtherExpenseName</td>
                                                    <td>@item.Expenses</td>
                                                    <td>@item.Remark</td>
                                                    <td>@item.ExpenseDate</td>
                                                    <td><a class="btn btn-danger btn-sm" onclick="DeleteExpense(@item.Pk_ExpenseId)">Delete</a></td>
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- end page container -->
}

<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script src="~/BrainStewWebsite/assets/js/jquery.min.js"></script>
<script>
        var f3 = flatpickr(document.getElementById('FromDate'),
            {
                // mode: "range"
            });
        var f3 = flatpickr(document.getElementById('ToDate'),
            {
                // mode: "range"
            });


        function DeleteExpense(Id)
        {
            var Confirmation=confirm('Are you sure you wante to delete this expense details');
            if(Confirmation==true)
            {
                $.ajax({
                    url:'/Expense/DeleteExpense',
                    type:'json',
                    data:{'Id':Id},
                    success:function()
                    {

                    }
                
                
                });
            }
        }









</script>
