@model WafaTailor.Models.Admin

@{
    ViewBag.Title = "BillEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("BillEntry", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
        <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                        @*<div class="page-title">Customer Registration</div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Bill Entry</header>
                            <span style="color:red;">@TempData["BillEntry"]</span>
                            <a href="/Admin/BillList" class="btn btn-primary pull-right mr-10 mb-1 mt-1"><i class="fa fa-arrow-left"></i> Back to List</a>
                        </div>
                        <div class="card-body" id="bar-parent">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Shop<span style="color:red">*</span></label>
                                        @Html.DropDownListFor(m => m.ShopId, new SelectList(ViewBag.ddlShop, "Value", "Text"), new { @class = "form-control", @placeholder = "Shop Name" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Customer<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Customer Name", @onchange = "return changeCustomer();" })
                                        @Html.HiddenFor(m => m.Pk_UserId)
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Mobile No<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile No", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })

                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormPassword">Bill No <span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control", @Placeholder = " BillNo", })
                                    </div>
                                </div>


                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">No Of Piece <span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.NoOfPiece, new { @class = "form-control", @Placeholder = " No Of Piece", @onkeypress = "return isNumberOrDecimal(event);", onInput = "return calculatefinalamount()" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Original Price <span style="color:red">*</span></label>
                                       @Html.TextBoxFor(m => m.OriginalPrice, new { @class = "form-control", @placeholder = "Original Price", @onkeypress = "return isNumberOrDecimal(event);", onInput = "return calculatefinalamount()" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Final Price<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.FinalPrice, new { @class = "form-control", @placeholder = "Final Price",@Readonly="true" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Advance<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.Advance, new { @class = "form-control", @placeholder = "Advance", @onkeypress = "return isNumberOrDecimal(event);", onInput = "return calculatefinalamount()" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Remaining Balance<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.RemainningBalance, new { @class = "form-control", @placeholder = "Remaining Balance", @Readonly = "true" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="simpleFormEmail">Bill Date<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.BillDate, new { @class = "form-control", @placeholder = "Bill Date" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-4 mt-4">
                                    <input type="submit" class="btn btn-primary" id="SaveBill" name="SaveBill" value="Submit" onclick="return Validateform()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/SaleOrder/GetcustomerList',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.Name + "(" + item.Mobile + ")");
                    });
                    debugger
                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            debugger
                            $('#Pk_UserId').val('');
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#Pk_UserId').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    function changeCustomer() {
        var Mobile = $("#Pk_UserId").val();
        if(Mobile=="")
        {
            $("#Mobile").val("");
        }
        else {
            $("#Mobile").val(Mobile);
        }
    }

    function Validateform()
    {
        $(".errortext").removeClass("errortext");

        if ($('#ShopId').val() == '0') {
            $("#ShopId").addClass('errortext');
            $('#ShopId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#BillNo').val() == '') {
            $("#BillNo").addClass('errortext');
            $('#BillNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#NoOfPiece').val() == '') {
            $("#NoOfPiece").addClass('errortext');
            $('#NoOfPiece').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#OriginalPrice').val() == '') {
            $("#OriginalPrice").addClass('errortext');
            $('#OriginalPrice').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        //if ($('#FinalPrice').val() == '') {
        //    $("#FinalPrice").addClass('errortext');
        //    $('#FinalPrice').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        if ($('#Advance').val() == '') {
            $("#Advance").addClass('errortext');
            $('#Advance').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        //if ($('#RemainningBalance').val() == '') {
        //    $("#RemainningBalance").addClass('errortext');
        //    $('#RemainningBalance').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        if ($('#BillDate').val() == '') {
            $("#BillDate").addClass('errortext');
            $('#BillDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function calculatefinalamount() {
        var NoofPiece = $("#NoOfPiece").val();
        var originalprice = $("#OriginalPrice").val();
        var Advance = $("#Advance").val();


        if (Number(NoofPiece) == "") {
            $("#NoOfPiece").val("");
            $("#NoOfPiece").addClass('errortext');
            //$('#NoOfPiece').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if (Advance == "") {
            Advance = 0;
        }
        if (originalprice == "") {
            originalprice = 0;
        }
        //var finalAmount = ((Number(NoofPiece) * Number(originalprice)))
        var finalAmount = (Number(originalprice))
        $("#FinalPrice").val(finalAmount);

        var RemainingBalance = (Number(finalAmount) - Number(Advance))
        $("#FinalPrice").val(finalAmount);

        debugger;
        if (RemainingBalance < 0) {
            alert('Remaining Amount Should be grater than Advance Amount')
            $("#Advance").val("");

            if ($("#Advance").val("")) {
                $("#RemainningBalance").val(finalAmount);
            }
            else {

                $("#RemainningBalance").val(finalAmount);
            }
        }
        else {
            $("#RemainningBalance").val(RemainingBalance);
        }
    }

</script>
<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script>
    var f3 = flatpickr(document.getElementById('BillDate'),
        {
            // mode: "range"
        });
</script>

