@model WafaTailor.Models.Shop

@{
    ViewBag.Title = "StockEntryList";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@using (Html.BeginForm("StockEntryList", "Shop", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
   <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                        @*  <div class="page-title">Bill List</div>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <header>Stock Entry List</header>
                            <span class="text-danger">
                                @TempData["StockEntry"]
                            </span>
                            @*<a href="/Admin/StockEntry" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i>Add New</a>*@
                        </div>
                    
                        <div class="card-body">
                            <table style="width: 100%" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Product Name</th>
                                        <th>No Of Piece</th>
                                        <th>Amount/Piece</th>
                                        <th>Shop Name</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstStockEntry != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.lstStockEntry)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.NoOfPiece</td>
                                                    <td>@item.Amount</td>
                                                    <td>@item.ShopName</td>
                                                   
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


