
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wafa Tailor</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/v6/css/all.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--bootstrap -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- data tables -->
    <link href="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap5.min.css" rel="stylesheet"
          type="text/css" />
    <link href="~/assets/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/assets/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/assets/css/material_style.css">
    <!-- inbox style -->
    <link href="~/assets/css/pages/inbox.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="~/assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/assets/css/theme/light/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
  
    <style>
        .errortext {
            border: 2px solid red;
            background: #ffa9a9 !important;
        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="/Home/Index">
                        @*<span class="logo-icon material-icons">Wafa</span>*@
                        <span class="logo-default">Wafa Tailor</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i data-feather="menu"></i></a></li>
                </ul>
                <!-- start mobile menu -->
                <a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle " src="@Session["Profile"]" />
                                @*<span class="username username-hide-on-mobile"> Sneha</span>*@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/Admin/AdminProfile">
                                        <i class="icon-user"></i> Profile
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="/Admin/ChangePassword">
                                        <i class="icon-lock"></i> Change Password
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Login">
                                        <i class="icon-logout"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll" class="left-sidemenu">
                        <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                            data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="sidebar-user">
                                    <div class="sidebar-user-picture">
                                        <img alt="image" src="@Session["Profile"]">
                                    </div>
                                    <div class="sidebar-user-details">
                                        <div class="user-name">@Session["Name"]</div>
                                        <div class="user-role">@Session["UsertypeName"]</div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item start active open">
                                <a href="/Admin/AdminDashBoard" class="nav-link">
                                    <i data-feather="airplay"></i>
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i data-feather="user"></i>
                                    <span class="title">Master</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Master/ShopMaster" class="nav-link ">
                                            <span class="title">
                                                Shop Master
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Master/Material" class="nav-link ">
                                            <span class="title">
                                                Material Type
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i data-feather="users"></i>
                                    <span class="title">Registration</span><span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Employee/EmployeeRegistration" class="nav-link ">
                                            <span class="title">
                                                Employee Registration
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i data-feather="users"></i>
                                    <span class="title">Reports</span><span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Admin/VendorListForAdmin" class="nav-link ">
                                            <span class="title">
                                              Vendor List
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
               @RenderBody()
            </div>
            <!-- end page container -->
            <!-- start footer -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2022 &copy; Wafa Tailor. All Rights Reserved || Developed by 
                    <a href="http://afluex.com/" target="blank" class="makerCss">Afluex Multiservices LLP.</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div> 
            <!-- end footer -->
        </div>
     </div>
        <!-- start js include path -->
        <script src="~/assets/plugins/jquery/jquery.min.js"></script>
        <script src="~/assets/plugins/popper/popper.js"></script>
        <script src="~/assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
        <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/assets/plugins/feather/feather.min.js"></script>
        <!-- bootstrap -->
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
        <!-- data tables -->
        <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap5.min.js"></script>
        <script src="~/assets/js/pages/table/table_data.js"></script>
        <script src="~/assets/plugins/sparkline/jquery.sparkline.js"></script>
        <script src="~/assets/js/pages/sparkline/sparkline-data.js"></script>
        <!-- Common js-->
        <script src="~/assets/js/app.js"></script>
        <script src="~/assets/js/layout.js"></script>
        <!-- material -->
        <script src="~/assets/plugins/material/material.min.js"></script>
</body>
</html>
